@{
    ViewData["Title"] = "DVS Web Library";
}

<h1>@ViewData["Title"]</h1>

<div id="videoCapturingEl"></div>

<div id="result-data"></div>

<script type="module" src="~/dist/site.js" defer></script>
